.video{
    position: relative;
    background-color: rgb(70, 202, 77);
    width: 100%;
    height: 100%;
    scroll-snap-align: start;
}

.video__player{
    object-fit: fill;
    width: 100%;
    height: 100%;
}